@media screen and (min-width: 993px) {
  .entry {
    padding-left: 1em;
  }
  .entry.green {
    display: grid;
    grid-template-columns: 20em repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    border-bottom: 1px solid black;
    line-height: 53px;
  }
  .entry.red {
    display: grid;
    grid-template-columns: 20em 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    line-height: 53px;
    grid-row-gap: 0;
  }
  .entry > *:not(:last-child) {
    border-right: 1px solid #6f6f6f;
  }
  .entry .name {
    grid-area: 1/1/2/2;
  }
  .entry .docs {
    grid-area: 1/2/2/3;
    display: flex;
    flex-wrap: wrap;
  }
  .entry .docs .website-doc {
    display: block;
    text-decoration: none;
    margin: auto;
  }
  .entry .docs .website-doc:after {
    content: "\f3b8";
    font-family: "bootstrap-icons";
    font-size: 1.6em;
    vertical-align: middle;
  }
  .entry .docs .recovery-doc {
    display: block;
    text-decoration: none;
    margin: auto;
  }
  .entry .docs .recovery-doc:after {
    content: "\f116";
    font-family: "bootstrap-icons";
    font-size: 1.6em;
    font-weight: 600;
    vertical-align: middle;
  }
  .entry .sms {
    grid-area: 1/3/2/4;
  }
  .entry .voice {
    grid-area: 1/4/2/5;
  }
  .entry .email {
    grid-area: 1/5/2/6;
  }
  .entry .hardware {
    grid-area: 1/6/2/7;
  }
  .entry .software {
    grid-area: 1/7/2/8;
    display: grid;
    grid-template: 1fr/1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    font-size: 27px;
    line-height: 53px;
  }
  .entry .software * {
    margin: auto;
  }
  .entry .contact {
    margin-left: 1em;
  }
  .entry .contact:before {
    content: "Tell them to support 2FA";
  }
  .entry .contact button:before {
    margin-right: 0.5em;
  }
  .entry .contact button.twitter:after {
    content: "On Twitter";
  }
  .entry .contact button.facebook:after {
    content: "On Facebook";
  }
  .entry .contact button.email:after {
    content: "Via Email";
  }
  .entry .tfa-summary {
    display: none;
  }
}
.contact button {
  width: 140px;
  margin: 0.2em;
  line-height: 2em;
  border: none;
  color: white;
  border-radius: 2px;
}
.contact button:before {
  font-family: "bootstrap-icons";
  vertical-align: middle;
}
.contact button.twitter {
  background: #1da1f2;
}
.contact button.twitter:before {
  content: "\f5ef";
}
.contact button.facebook {
  background: #3b5998;
}
.contact button.facebook:before {
  content: "\f344";
}
.contact button.email {
  background: #ea4235;
}
.contact button.email:before {
  content: "\f32c";
}

.name {
  font-size: 18px;
  line-height: 53px;
  font-weight: 500;
  color: #212529 !important;
  text-decoration: none;
}
.name .logo {
  margin-right: 0.8em;
  height: 32px;
  max-width: 32px;
}

.entry.green {
  background: #b1dfbb;
}
.entry.red {
  background: #f1b0b7;
}

@media screen and (max-width: 992px) {
  .entry {
    padding: 0 1em;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0.5em;
    border-bottom: 1px solid #6f6f6f;
  }
  .entry .name {
    margin: 1em 0 0 0;
    font-family: "SF Pro Display";
    font-size: 1.5em;
    font-weight: 300;
    grid-area: 1/1/2/2;
  }
  .entry > .sms, .entry > .voice, .entry > .email, .entry > .hardware, .entry > .software {
    display: none;
  }
  .entry .tfa-summary {
    grid-area: 2/1/3/2;
  }
  .entry .docs {
    grid-area: 3/1/4/2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    grid-template-rows: 1fr;
  }
  .entry .docs > * {
    display: block;
    text-decoration: none;
    margin: auto;
    width: calc(100% - 0.5em);
    max-width: 60vw;
    text-align: center;
    font-size: 1.3em;
    line-height: 2em;
    border-radius: 2px;
    padding: 0 0.5em;
    background: var(--bs-link-color);
    color: #fff;
    overflow: hidden;
  }
  .entry .docs .website-doc:before {
    content: "\f3b8";
    font-family: "bootstrap-icons";
    margin-right: 0.3em;
    font-size: 0.8em;
    vertical-align: middle;
  }
  .entry .docs .website-doc:after {
    content: "Documentation";
    font-family: "SF Pro Display";
    font-weight: 300;
    vertical-align: middle;
  }
  .entry .docs .recovery-doc:before {
    content: "\f116";
    font-family: "bootstrap-icons";
    margin-right: 0.3em;
    font-size: 0.8em;
    font-weight: 600;
    vertical-align: middle;
  }
  .entry .docs .recovery-doc:after {
    content: "Recovery";
    font-family: "SF Pro Display";
    font-weight: 300;
    vertical-align: middle;
  }
  .entry .contact {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    grid-template-rows: 1fr;
  }
  .entry .contact:before {
    content: "2FA not supported";
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 1.5em;
    margin-top: -2em;
    width: 100%;
  }
  .entry .contact button {
    border-radius: 2px;
    line-height: calc(2em + 5px);
    margin: auto;
    width: calc(100% - 0.5em);
  }
}

/*# sourceMappingURL=table.css.map */
