nav {
  background: var(--secondary-background);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  color: var(--text-color);

  .icon {
    margin: 0;

    li {
      list-style: none;
      font-family: "SF Pro Display", var(--default-font);
      font-weight: 300;
      font-size: 1.5em;

      &:before {
        content: '';
        display: inline-block;
        height: 1.5em;
        margin-right: .4em;
        aspect-ratio: 1;
        background-image: url('/img/icons/icon.svg');
        vertical-align: middle;
      }
    }

  }

  .nav-item {
    margin: 0 .1em;

    * {
      color: var(--text-color);

      :hover {
        filter: invert(1);
      }
    }

    :hover {
      background: var(--text-color);
    }
  }
}