.search-bg {
  height: 15rem;
  display: grid;
  align-content: center;

  .search {
    align-self: center;
    justify-content: center;
    width: max(300px, 45vw);
    max-width: 650px;
    padding: .6rem;
    border-radius: 1em;
    margin: auto;
    border: 1px #e3e3e3 solid;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 0 1px rgba(0,0,0,.08);
  }
}
