.search-bg {
  height: 15rem;
  display: grid;
  align-content: center;

  .search {
    align-self: center;
    justify-content: center;
    width: max(300px, 45vw);
    max-width: 650px;
    padding: .6rem;
    border-radius: 1em;
    margin: auto;
    border: none;
  }
}
