:root {
  --table-bg-red: #f1b0b7;
  --table-bg-green: #b1dfbb;
  --table-border: 1px solid #6f6f6f;
}

/** Desktop View **/
@media screen and (min-width: 993px) {
  .entry {
    padding-left: 1em;
    border-bottom: var(--table-border);
    display: grid;
    line-height: 53px;
    grid-template-rows: 1fr;
    /* replace with :has(.tfa) when supported */
    /* replace with :has(.contact) when supported */
  }
  .entry.green {
    grid-template-columns: 20em repeat(6, 1fr);
  }
  .entry.red {
    grid-template-columns: 20em 1fr;
  }
  .entry > *:not(:last-child) {
    border-right: var(--table-border);
  }
  .entry .name {
    grid-area: 1/1/2/2;
  }
  .entry .docs {
    grid-area: 1/2/2/3;
    display: flex;
    flex-wrap: wrap;
  }
  .entry .docs .website-doc {
    display: block;
    text-decoration: none;
    margin: auto;
  }
  .entry .docs .website-doc:after {
    content: "\f3b8";
    font-family: "bootstrap-icons";
    font-size: 1.6em;
    vertical-align: middle;
  }
  .entry .docs .recovery-doc {
    display: block;
    text-decoration: none;
    margin: auto;
  }
  .entry .docs .recovery-doc:after {
    content: "\f116";
    font-family: "bootstrap-icons";
    font-size: 1.6em;
    font-weight: 600;
    vertical-align: middle;
  }
  .entry .method {
    display: flex;
    flex-wrap: wrap;
    font-size: 27px;
    line-height: 53px;
  }
  .entry .method * {
    margin: auto;
    display: block;
  }
  .entry .method.used:before {
    content: "\f633";
    font-family: "bootstrap-icons";
    margin: auto;
    display: block;
    font-weight: 600;
  }
  .entry .method.sms {
    grid-area: 1/3/2/4;
  }
  .entry .method.voice {
    grid-area: 1/4/2/5;
  }
  .entry .method.email {
    grid-area: 1/5/2/6;
  }
  .entry .method.hardware {
    grid-area: 1/6/2/7;
  }
  .entry .method.software {
    grid-area: 1/7/2/8;
  }
  .entry .contact {
    margin-left: 1em;
  }
  .entry .contact:before {
    content: "Tell them to support 2FA";
  }
  .entry .contact button:before {
    margin-right: 0.5em;
  }
  .entry .contact button.twitter:after {
    content: "On Twitter";
  }
  .entry .contact button.facebook:after {
    content: "On Facebook";
  }
  .entry .contact button.email:after {
    content: "Via Email";
  }
  .entry .tfa-summary {
    display: none;
  }
}
.contact button {
  width: 140px;
  margin: 0.2em;
  line-height: 2em;
  border: none;
  color: white;
  border-radius: 2px;
}
.contact button:before {
  font-family: "bootstrap-icons";
  vertical-align: middle;
}
.contact button.twitter {
  background: #1da1f2;
}
.contact button.twitter:before {
  content: "\f5ef";
}
.contact button.facebook {
  background: #3b5998;
}
.contact button.facebook:before {
  content: "\f344";
}
.contact button.email {
  background: #ea4235;
}
.contact button.email:before {
  content: "\f32c";
}

.name {
  font-size: 18px;
  line-height: 53px;
  font-weight: 500;
  color: #212529 !important;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 53px;
}
.name .logo {
  margin-right: 0.8em;
  height: 32px;
  max-width: 32px;
}

/** Universal styles **/
.entry.green {
  background: var(--table-bg-green);
}
.entry.red {
  background: var(--table-bg-red);
}

/** Mobile View **/
@media screen and (max-width: 992px) {
  .entry {
    padding: 0 1em;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: auto;
    grid-column-gap: 0;
    grid-row-gap: 0.5em;
    border-bottom: var(--table-border);
  }
  .entry .name {
    margin: 1em 0 0 0;
    font-family: "SF Pro Display";
    font-size: 1.5em;
    font-weight: 300;
    grid-area: 1/1/2/2;
  }
  .entry > .sms, .entry > .voice, .entry > .email, .entry > .hardware, .entry > .software {
    display: none;
  }
  .entry.green .tfa-summary {
    grid-area: 2/1/3/2;
    list-style: none;
  }
  .entry.green .tfa-summary li:before {
    content: "\f633";
    font-family: "bootstrap-icons";
    margin-right: 5px;
    font-size: 20px;
    font-weight: 600;
    vertical-align: middle;
  }
  .entry.green .docs {
    grid-area: 3/1/4/2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    grid-template-rows: 1fr;
    margin-bottom: 2em;
  }
  .entry.green .docs > * {
    display: block;
    text-decoration: none;
    margin: auto;
    width: calc(100% - 0.5em);
    max-width: 60vw;
    text-align: center;
    font-size: 1.3em;
    line-height: 2em;
    border-radius: 2px;
    padding: 0 0.5em;
    background: var(--bs-link-color);
    color: #fff;
    overflow: hidden;
  }
  .entry.green .docs .website-doc:before {
    content: "\f3b8";
    font-family: "bootstrap-icons";
    margin-right: 0.3em;
    font-size: 0.8em;
    vertical-align: middle;
  }
  .entry.green .docs .website-doc:after {
    content: "Documentation";
    font-family: "SF Pro Display";
    font-weight: 300;
    vertical-align: middle;
  }
  .entry.green .docs .recovery-doc:before {
    content: "\f116";
    font-family: "bootstrap-icons";
    margin-right: 0.3em;
    font-size: 0.8em;
    font-weight: 600;
    vertical-align: middle;
  }
  .entry.green .docs .recovery-doc:after {
    content: "Recovery";
    font-family: "SF Pro Display";
    font-weight: 300;
    vertical-align: middle;
  }
  .entry.red .tfa-summary:before {
    display: block;
    content: "2FA Not Supported";
    font-family: "SF Pro Display";
    font-weight: 300;
    text-align: center;
    width: 100%;
    font-size: 1.8em;
  }
  .entry.red .contact {
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    grid-template-rows: 1fr;
  }
  .entry.red .contact button {
    border-radius: 2px;
    line-height: calc(2em + 5px);
    margin: auto;
    width: calc(100% - 0.5em);
    max-width: 60vw;
  }
}

/*# sourceMappingURL=table.css.map */
