<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no min-width=320" name="viewport">
  {{- partial "base.meta" . -}}
  <title>{{- $.Site.Title -}}{{- block "title" . -}}{{- end -}}</title>
  {{- partial "base.stylesheet" . -}}
</head>
<body>
{{- partial "base.navbar" . -}}
<div class="container">
  {{- block "main" . -}}{{- end -}}
</div>
{{- partial "base.footer" . -}}
{{- partial "base.javascript" . -}}
</body>
</html>
