<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/css/bootstrap.min.css"/>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css"/>
  <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="css/table.css">
</head>
<body>

{{ $entries := site.Data.entries }}

{{ range $category_name, $category := site.Data.categories }}
  <div class="table-head">
    <div>{{ index $category "title" }}</div>
    <div>Docs</div>
    <div>SMS</div>
    <div>Phone Calls</div>
    <div>Email</div>
    <div>Hardware Token</div>
    <div>Software</div>
  </div>

  {{ partial "table.html" (index $entries $category_name) }}

{{ end }}

</body>
</html>
