#categories-title {
  margin: .5em 0 0 0
}

.categories {
  display: grid;

  grid-column-gap: calc(var(--bs-gutter-x));
  grid-row-gap: calc(var(--bs-gutter-x));
  margin: calc(var(--bs-gutter-x) * .5);
  @media screen and (min-width: 993px) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
  }

  &.search-results {
    grid-template-columns: 1fr;
  }
}

.category-btn {
  color: var(--text-color);
  background: var(--category-btn-bg);
  border: var(--category-btn-border);
  border-radius: 2px;
  width: 100%;
  @media screen and (min-width: 993px) {
    aspect-ratio: 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2em 1fr 2em;
    grid-column-gap: 0;
    grid-row-gap: 0;

    .category-icon {
      grid-area: 2 / 1 / 3 / 2;
      display: grid;
      align-self: center;
      font-size: 2.4em;
      font-family: 'Bootstrap-icons';
    }

    div {
      grid-area: 3 / 1 / 4 / 2;
      align-self: end;
    }
    &.active {
      border-bottom: .2em solid var(--brand-color);
    }
  }

  @media screen and (max-width: 992px) {
    border-radius: 12px;
    background: var(--secondary-background);
    color: var(--text-color);
    height: 7rem;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    grid-column-gap: .5em;
    grid-row-gap: 0;
    padding: 1em;
    .category-icon {
      align-content: center;
      font-size: 2.5em;
      height: 1.5em;
      aspect-ratio: 1;
      align-self: center;
      font-family: 'Bootstrap-icons';
      grid-area: 1 / 1 / 3 / 2;
      border-radius: 50%;
      color: var(--text-color);
      background: var(--background);
    }

    div {
      grid-area: 1 / 2 / 2 / 3;
      align-self: center;
      font-size: 1.5em;
      text-align: left;
    }
  }
}
