#nav {
  background: var(--secondary-background);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  color: var(--text-color);
  border-bottom: 2px solid var(--brand-color);

  #branding {
    @media screen and (max-width: 992px) {
      // Compensate for region btn
      padding-left: 33.5833px;
      margin: auto;
    }

    .icon {
      padding-left: 0;
      margin: 0;

      li {
        display: flex;
        flex-direction: row;
        align-items: center;

        list-style: none;
        font-family: "SF Pro Display", var(--default-font);
        font-weight: 300;
        font-size: 1.5em;

        &:before {
          content: '';
          height: 1.5em;
          margin-right: .4em;
          aspect-ratio: 1;
          background-image: url('/icons/icon.svg');
        }
      }
    }
  }


  .navbar-toggler {
    border: none;

    &:focus {
      box-shadow: none;
    }

    span {
      color: var(--text-color);
      font-size: 1.2em;
    }
  }

  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }

}

#regionDropdown {
  color: var(--text-color);
  padding: 0;
  border: none;
  background: none;
  height: 2rem;

  .fi-globe:before {
    font-family: 'Material Symbols Outlined';
    content: '\e894';
    font-size: 1.3em;
  }
}

#regionsDropdown {
  position: absolute;
  margin: 12px 0 0;
  padding: 1em;
  background: var(--secondary-background);
  inset: auto;
  right: 0;
  display: grid;
  border: none;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: .3em;
  grid-column-gap: 1em;
  z-index: 110;

  a {
    text-decoration: none;
    color: var(--text-color);
    padding: .5em;

    &:hover {
      background: var(--text-color);
      color: var(--background)
    }

    span {
      margin-right: 0.3em;
      // Square flags should still be centered (like 4x3 ones)
      &.fis {
        width: 1.33333333em !important;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #regionsDropdown {
    left: 0;
    right: 0;
  }

  .back-to-top-link {
    $back-to-top-size: 3rem;

    z-index: 1100;
    position: fixed;
    bottom: 3vh;
    right: 0.5rem;
    text-align: center;
    color: var(--text-color);
    background: var(--background);
    font-size: $back-to-top-size;
    line-height: $back-to-top-size;
    width: $back-to-top-size;
    height: $back-to-top-size;
    border-radius: 50%;
    transition: ease-in-out 0.2s;

    &:hover {
      color: var(--primary);
    }

    &-moved {
      bottom: -$back-to-top-size;
    }
  }
}

@media screen and (min-width: 993px) {
  .back-to-top-link {
    display: none;
  }
}
