h1 {
  text-align: center;
  margin: 8vh 0 4vh 0;
  font-weight: 300;
}

table {
  td, th {
    padding: .5rem;
    border: var(--secondary-background) 1px solid;
  }
}

h2, h3:not(.popover-header), h4 {
  margin-top: 2rem;
}

dialog {
  border: none;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
  }

  form {
    display: flex;
    justify-content: space-around;
  }

  h3 {
    margin-top: 0 !important;
  }
}
