:root {
  --background: #fff;
  --secondary-background: #eeeeee96;
  --text-color: #111;

  --brand-color: #38cccc;
  --default-font: -apple-system, BlinkMacSystemFont, system-ui, segoe ui, "Helvetica Neue", "Helvetica", "Arial", sans-serif;

  --table-head-bg: #fff;
  --table-bg-red: #f1b0b7;
  --table-bg-green: #b1dfbb;
  --table-border: 1px solid var(--secondary-background);
  --table-text-color: #212529;

  --category-btn-bg: #eeeeee96;
  --category-btn-border: 1px solid #8c8c8c;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;

    --background: #212121;
    --secondary-background: #4f4f4f;
    --text-color: #eee;

    --table-head-bg: #262626;
    --table-bg-red: #f1b0b7;
    --table-bg-green: #b1dfbb;
    --table-text-color: #212529;

    --category-btn-bg: #4242428f;

    --bs-nav-link-color: var(--text-color) !important;
    --bs-navbar-color: var(--text-color);

    .modal {
      --bs-modal-bg: var(--secondary-background);
      --bs-border-color: var(--secondary-background);
      --modal-color: var(--text-color);
    }
  }

  .popover {
    --bs-popover-header-bg: var(--secondary-background);

    .popover-header {
      --bs-popover-header-color: var(--text-color);
      text-align: center;
    }

    --bs-popover-bg: var(--background);
    --bs-popover-body-color: var(--text-color);
  }
}

body {
  background: var(--background);
  color: var(--text-color);
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: calc(1327px + 2rem) !important;
}


