#search {
  align-self: center;
  justify-content: center;
  max-width: 650px;
  width: calc(max(470px, 45vw));
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 0 1px rgba(0, 0, 0, .08);
  background: white;
  border: 1px #e3e3e3 solid;
  display: grid;
  grid-template-columns: 1fr 2em;
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  margin: 6.5rem auto;
  padding: .2rem;

  @media screen and (max-width: 600px) {
    width: calc(100% - var(--bs-gutter-x));
  }

  &:focus-within {
    a {
      display: block;
      background: url('/algolia.svg') no-repeat center;
      background-position-x: 100%;

    }
  }

  input {
    width: calc(100% - 1em);
    margin-left: 1em;
    border: none;
    background: none;
    height: 2.4em;

    @media (prefers-color-scheme: dark) {
      color-scheme: light;
    }

    &:focus {
      outline: none;
    }
  }
}


