<footer>
  <a class="back-to-top-link back-to-top-link-moved" href="#"><i class="bi bi-arrow-up-circle" aria-hidden="true"></i></a>
  <nav class="footer-inner">
    <a class="nav-item" href="/about">About</a>
    <a class="nav-item" href="/bots">Bots</a>
    <a class="nav-item" href="/privacy">Privacy</a>
    <a class="nav-item" href="/api">API</a>
    <a class="nav-item" href="/companies">Legal</a>
    <a class="nav-item" href="https://github.com/{{ .Site.Params.default.github }}">Contributing</a>
    <div class="disclaimer">
      <p>The data on this website is crowdsourced and some data may be outdated.</p>
      <p>2fa.directory is maintained by the non-profit <a href="/about">2factorauth</a> and hosted on <a
        href="https://github.com/{{ .Site.Params.default.github }}">GitHub</a>.</p>
    </div>
  </nav>
</footer>
