<!-- SEO -->
<meta name="description" content="{{ .Site.Params.Default.description }}">
<meta name="copyright" content="{{ .Site.Copyright }}">
<link rel="sitemap" href="sitemap.xml" type="application/xml"/>

<!-- PWA -->
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="theme-color" content="{{ .Site.Params.Default.Theme_Color }}">
<link rel="manifest" href="/manifest.json">

<!-- Social Media -->
<meta name="og:description" content="{{ .Site.Params.Default.description }}">
<meta name="og:image" content="{{ (resources.Get .Site.Params.Twitter.card).RelPermalink }}">
<meta name="og:title" content="{{ .Site.Title }}">
<meta name="og:type" content="website">
<meta name="og:url" content="{{ .Permalink }}">
<meta name="twitter:site" content="@{{ .Site.Params.Twitter.handle }}">
<meta name="twitter:card" content="summary_large_image">
{{ if index .Site.Params.Default "Mastodon" }}
  <link rel="me" href="{{ .Site.Params.Default.Mastodon}}">
{{ end }}

<!-- Icons -->
<link rel="icon" href="{{ (resources.Get "icons/icon.svg").RelPermalink }}" type="image/svg+xml" sizes="any">

{{ $png := resources.Get "icons/icon.png" }}
{{ $sizes := slice "32" "128" "180" "192" "512" }}
{{ range $d := $sizes }}
  {{ $d_png := $png.Resize ($d | printf "%sx%s" $d) }}
  <link rel="icon" href="{{ $d_png.RelPermalink }}" sizes="{{ $d }}x{{ $d }}" type="image/png">
{{ end }}
