<nav class="navbar navbar-expand-lg ">
  <div class="container">
    <a class="nav-link" href="/about/">
      <ul class="icon">
        <li>{{ .Site.Title }}</li>
      </ul>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler"
            aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="bi bi-list"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-toggler">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="regionDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" tabindex="0">
            Region
            {{ if index .Site.Params "region" }}
              <span class="fi fi-{{ $.Site.Params.region}}"></span>
            {{ else }}
              <span class="bi bi-globe"></span>
            {{ end }}
          </a>
          {{ partial "regions" .Site.Data.regions }}
        </li>
      </ul>
    </div>
  </div>
</nav>