<!-- External -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css" integrity="sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css" integrity="sha512-5PV92qsds/16vyYIJo3T/As4m2d8b6oWYfoqV+vtizRB6KhF1F9kYzWzQmsO6T3z3QG2Xdhrx7FQ+5R1LiQdUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icons/6.6.6/css/flag-icons.min.css" integrity="sha512-uvXdJud8WaOlQFjlz9B15Yy2Au/bMAvz79F7Xa6OakCl2jvQPdHD0hb3dEqZRdSwG4/sknePXlE7GiarwA/9Wg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Internal -->
{{ $_page := .Page.RelPermalink }}
<!-- Default internal styles -->
{{ $styles := slice "root" "navbar" "footer" }}

<!-- Page dependant styles -->
{{ with (eq $_page "/") }}
  {{ $styles = $styles | append "table" "category-buttons" "search" }}
{{ end }}
{{ with (eq $_page "about") }}
  {{ $styles = $styles | append "about" }}
{{ end }}

{{ range $style := $styles }}
  {{ $css := resources.Get ($style | printf "css/%s.css") }}
  {{ $css = $css | minify | resources.Fingerprint "sha512" }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous" referrerpolicy="no-referrer"/>
{{ end }}
