{{ range $name, $entry := index . }}
<div class="entry {{ if index $entry "tfa" }}green{{ else }}red{{ end }}">

  <a class="name" href="{{ with $entry.url }}{{ . }}{{ else }}https://{{ $entry.domain }}{{ end }}"><img class="logo" loading="lazy" src="/img/{{ substr $entry.domain 0 1 }}/{{ with $entry.img }}{{ . }}{{ else }}{{ $entry.domain }}.svg{{ end }}" alt="">{{ htmlUnescape $name }}</a>

  {{ if index $entry "tfa" }}
    <div class="docs">
      {{ if index $entry "documentation" }}
        <a class="website-doc" href="{{ $entry.documentation }}"></a>
      {{ end }}
      {{ if index $entry "recovery" }}
        <a class="recovery-doc" href="{{ $entry.recovery }}"></a>
      {{ end }}
    </div>

    <ul class="tfa-summary">
      {{ if in $entry.tfa "sms" }}<li>SMS</li>{{ end }}
      {{ if in $entry.tfa "email" }}<li>Email</li>{{ end }}
      {{ if in $entry.tfa "call" }}<li>Phone Calls</li>{{ end }}
      {{ if in $entry.tfa "totp" }}<li>TOTP</li>{{ end }}
      {{ if in $entry.tfa "u2f" }}<li>WebAuthn Token</li>{{ end }}
      {{ if in $entry.tfa "custom-hardware" }}<li>Custom Hardware{{ if (index $entry "custom-hardware") }}: {{ delimit (index $entry "custom-hardware") ", " }}{{ end }}</li>{{ end }}
      {{ if in $entry.tfa "custom-software" }}<li>Custom Software{{ if (index $entry "custom-software") }}: {{ delimit (index $entry "custom-software") ", " }}{{ end }}</li>{{ end }}
    </ul>

    <div class="sms method {{ if in $entry.tfa "sms" }}used{{ end }}"></div>

    <div class="voice method {{ if in $entry.tfa "call" }}used{{ end }}"></div>

    <div class="email method {{ if in $entry.tfa "email" }}used{{ end }}"></div>

    <div class="hardware method {{ if in $entry.tfa "u2f" }}used{{ end }}">{{ if in $entry.tfa "custom-hardware" }}<i class="bi bi-info-circle"></i>{{ end }}</div>

    <div class="software method {{ if in $entry.tfa "totp" }}used{{ end }}">{{ if in $entry.tfa "custom-software" }}<i class="bi bi-info-circle"></i>{{ end }}</div>

  {{ else }}
    <div class="tfa-summary"></div>

    <div class="contact">
      {{ if index $entry.contact "twitter" }}<button class="twitter"></button>{{ end }}
      {{ if index $entry.contact "facebook" }}<button class="facebook"></button>{{ end }}
      {{ if index $entry.contact "email" }}<button class="email"></button>{{ end }}
    </div>

  {{ end }}
</div>
{{ end }}
