{{ $a := . }}
{{- range $category_name, $category := site.Data.categories -}}
<div id="{{ $category_name }}" role="region" aria-selected="true" aria-label="{{ index $category "title" }}" data-table="{{ $category_name }}" class="table collapse">
  <div aria-hidden="true" class="table-head">
    <div>{{ index $category "title" }}</div>
    <div>Docs</div>
    <div>SMS</div>
    <div>Phone Calls</div>
    <div>Email</div>
    <div>Hardware</div>
    <div>Software</div>
  </div>

  {{ $entries := dict }}
  {{ range $name, $entry := (index site.Data.entries $category_name) }}
    {{ $entries = merge $entries (dict ($name | lower) (merge (dict "name" $name) $entry)) $entries }}
  {{ end }}

  {{- partial "table.html" (dict "entries" $entries "region" $a "icon_path" site.Params.default.icon_path ) -}}
</div>
{{- end -}}
