{{ $a := . }}
{{- range $category_name, $category := site.Data.categories -}}
<div data-table="{{ $category_name }}" class="table collapse">
  <div class="table-head">
    <div>{{ index $category "title" }}</div>
    <div>Docs</div>
    <div>SMS</div>
    <div>Phone Calls</div>
    <div>Email</div>
    <div>Hardware</div>
    <div>Software</div>
  </div>

  {{ $entries := dict }}
  {{ range $name, $entry := (index site.Data.entries $category_name) }}
    {{ $entries = merge $entries (dict (lower $name) (merge (dict "name" $name) $entry)) $entries }}
  {{ end }}
  
<div style="display:none">
    map[i]: {{ reflect.IsMap (index site.Data.entries $category_name) }} |
    slice[i]: {{ reflect.IsSlice (index site.Data.entries $category_name) }} |
    map[e]: {{ reflect.IsMap $entries }} |
    slice[e]: {{ reflect.IsSlice $entries }}
</div>

  {{- partial "table.html" (dict "entries" $entries "region" $a "icon_path" site.Params.default.icon_path ) -}}
</div>
{{- end -}}
