{{ $a := (index . "region") }}
{{- range $id, $entry := index . "entries" -}}

<!-- Do region checks -->
{{ $region_excluded := slice }}
{{ $region_included := slice }}

{{range $region := index $entry "regions" }}
 {{ if hasPrefix $region "-" }}
  {{ $region_excluded = $region_excluded | append $region }}
 {{ else }}
   {{ $region_included = $region_included | append $region }}
 {{ end }}
{{ end }}

<!--
Explanation:
   if (
        ($a is null)
        OR
        ($region_included.length === 0 OR $region_included contains $a)
      )
      AND
      $region_excluded !contains ( "-" + $a ))
-->
{{- if (and (or (eq $a nil) (or (in $region_included $a) (eq (len $region_included) 0)))
       (not (in $region_excluded (printf "-%s" $a))))
-}}
  <!-- Display entry -->
  <div role="article" class="entry {{ if index $entry "tfa" }}green{{ else }}red{{ end }}" data-domain="{{- $entry.domain -}}">
    <div class="title">
        <a class="name" href="{{- with $entry.url -}}{{- . -}}{{- else -}}https://{{- $entry.domain -}}{{- end -}}" title="{{- htmlUnescape $entry.name -}}"><img class="logo" loading="lazy" src="{{ $.icon_path }}{{- with $entry.img -}}{{- substr . 0 1 -}}/{{ . }}{{- else -}}{{- substr $entry.domain 0 1 -}}/{{- $entry.domain -}}.svg{{- end -}}" aria-hidden="true" alt="">{{- htmlUnescape $entry.name -}}</a>
      {{ if index $entry "notes" }}<i class="note bi bi-exclamation-diamond-fill" tabindex="0" data-bs-toggle="popover" data-bs-content="{{ $entry.notes }}"></i>{{ end }}
    </div>
    {{- if index $entry "tfa" -}}
      <div class="docs">
        {{- if index $entry "documentation" -}}
          <a aria-label="documentation" class="website-doc" href="{{ $entry.documentation }}"></a>
        {{- end -}}
        {{- if index $entry "recovery" -}}
          <a aria-label="recovery documentation" class="recovery-doc" href="{{ $entry.recovery }}"></a>
        {{- end -}}
      </div>

      <ul aria-label="Supported 2FA methods" class="tfa-summary">
        {{- if in $entry.tfa "sms" -}}<li>SMS</li>{{- end -}}
        {{- if in $entry.tfa "email" -}}<li>Email</li>{{- end -}}
        {{- if in $entry.tfa "call" -}}<li>Phone Calls</li>{{- end -}}
        {{- if in $entry.tfa "totp" -}}<li>TOTP</li>{{- end -}}
        {{- if in $entry.tfa "u2f" -}}<li>WebAuthn / U2F Token</li>{{- end -}}
        {{- if in $entry.tfa "custom-hardware" -}}<li>Custom Hardware{{ if (index $entry "custom-hardware") }}: {{ delimit (index $entry "custom-hardware") ", " }}{{ end }}</li>{{- end -}}
        {{- if in $entry.tfa "custom-software" -}}<li>Custom Software{{ if (index $entry "custom-software") }}: {{ delimit (index $entry "custom-software") ", " }}{{ end }}</li>{{- end -}}
      </ul>

      <div aria-hidden="true" class="sms method {{ if in $entry.tfa "sms" }}used{{ end }}"></div>

      <div aria-hidden="true" class="voice method {{ if in $entry.tfa "call" }}used{{ end }}"></div>

      <div aria-hidden="true" class="email method {{ if in $entry.tfa "email" }}used{{ end }}"></div>

      <div aria-hidden="true" class="hardware method {{ if in $entry.tfa "u2f" }}used{{ end }}">
         {{- if index $entry "custom-hardware" -}}
           <i class="bi bi-info-circle custom-hardware-popover" data-bs-content="{{- range $method := index $entry "custom-hardware" -}}<li>{{ $method }}</li>{{- end -}}" data-bs-toggle="popover"></i>
         {{- else if in $entry.tfa "custom-hardware" -}}
           <i class="bi bi-info-circle" title="Requires proprietary hardware token"></i>
         {{- end -}}
      </div>

      <div aria-hidden="true" class="software method {{ if in $entry.tfa "totp" }}used{{ end }}">
         {{- if index $entry "custom-software" -}}
           <i class="bi bi-info-circle custom-software-popover" data-bs-content="{{- range $method := index $entry "custom-software" -}}<li>{{ $method }}</li>{{- end -}}" data-bs-toggle="popover"></i>
         {{- else if in $entry.tfa "custom-software" -}}
           <i class="bi bi-info-circle" title="Requires proprietary app/software"></i>
         {{- end -}}
      </div>

    {{- else -}}
      <div class="tfa-summary"></div>

      <div class="contact" aria-label="2FA not supported">
        {{- if index $entry.contact "twitter" -}}<button class="contact-btn twitter" data-twitter="{{ $entry.contact.twitter }}"></button>{{- end -}}
        {{- if index $entry.contact "facebook" -}}<button class="contact-btn facebook" data-facebook="{{ $entry.contact.facebook }}"></button>{{- end -}}
        {{- if index $entry.contact "email" -}}<button class="contact-btn email" data-email="{{ $entry.contact.email }}"></button>{{- else -}}
        {{- if index $entry.contact "form" -}}<button class="contact-btn form" data-form="{{ $entry.contact.form }}"></button>{{- end -}}{{- end -}}
      </div>

    {{- end -}}
  </div>
  {{- end -}}
{{- end -}}
